@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.upcoming_workshop_block {
    background-color: black;
    text-align: center;
    padding: 5% 0;
}

.slider_block {
    text-align: center;
    padding-top: 2.5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    width: auto;
    background-color: black;
}

.upcoming_workshop_text {
    color: white;
    font-size: 5vh;
    font-weight: 500;
}


.slide img {
    width: 50rem;
    height: auto;
    margin: 0 auto;
}

.slide {
    transform: scale(0.2);
    transition: transform 300ms;
    opacity: 0.5;
}

.activeSlide {
    transform: scale(1.1);
    opacity: 1;
}

.arrow {
    background-color: transparent;
    color: white;
    position: absolute;
    cursor: pointer;
    z-index: 10;
}

.arrow svg {
    transition: color 300ms;
}

.arrow svg:hover {
    color: #68edff;
}

.next {
    right: 0%;
    top: 50%;
}

.prev {
    left: 0%;
    top: 50%;
}